[Unit]
Description=RTPSniff is a tool to sniff RTP traffic and show stats about it.
After=network.target

[Service]
User=root
ExecStart=/usr/sbin/rtpsniff eth0 100 "udp and not port 53"

[Install]
WantedBy=multi-user.target
